.button {
    border-radius: 100px;
    padding: 0.25vw 0.5vw;
    border: none transparent;
    background-color: white;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(220, 220, 220);
}

.button:active {
    background-color: rgb(200, 200, 200);
}
