.featurebutton {
  transition: 0.25s;
  margin: 0;
  border-radius: 50px;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1.25em;
  font-weight: 600;
  font-family: inherit;
  background-color: rgb(20, 20, 20);
  cursor: pointer;
  color: #fff;
  filter: brightness(1.1);
}

.featurebutton:hover {
  transition: 0.25s;
  transform: scale(1.05);
}

.featurebutton.download {
  margin-top: 3.5rem;
}
