.highlight {
  transition: 0.5s;
  font-family: "Clash Display", sans-serif;
  font-size: clamp(1.5rem, 4rem, 8rem);
  transform: scaleY(0.8);
  font-weight: 900;
  color: white;
  margin: 0;
  margin-bottom: 1vw;
  cursor: default;
}

.highlight.title {
  transition: 0.5s;
  background-image: linear-gradient(90deg,#4bb4ff,#3828ca);
  background-size: 200%;
  background-position: left;
  -webkit-background-clip: text;
  background-clip: text;
}

.highlight.title:hover {
  color: transparent;
  filter: brightness(1.2);
  transition: 0.25s;
  transform: scaleY(0.8) translateY(-10px);
}
