# Rhythm Factory - Poste sua música, crie seu ritmo.
# Copyright (C) 2025 Cleverton Santiago
#
# Este programa é licenciado sob a GNU GPLv3. 
# Para mais detalhes, veja o arquivo LICENSE no repositório ou <https://www.gnu.org/licenses/>.

name: Build do projeto

on:
    push:
        tags:
          - "v*"

permissions:
  contents: write

jobs:
  update-version:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.set-version.outputs.version }}
    steps:
      - uses: actions/checkout@v4

      - name: Pegar versão da tag
        id: set-version
        run: |
          VERSION=${GITHUB_REF#refs/tags/}  # remove "refs/tags/"
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "::set-output name=version::$VERSION"

      - name: Atualizar tauri.conf.json
        run: |
          echo "Atualizando tauri.conf.json para a versão $VERSION"
          jq --arg v "$VERSION" '.package.version = $v | .tauri.bundle.version = $v' src-tauri/tauri.conf.json > tmp.json
          mv tmp.json src-tauri/tauri.conf.json

  build-linux:
    runs-on: ubuntu-latest
    needs: update-version
    steps:
      - uses: actions/checkout@v4

      - name: Instalar dependências do sistema
        run: |
          sudo apt update
          sudo apt install -y \
            libgtk-3-dev \
            libwebkit2gtk-4.1-dev \
            libappindicator3-dev \
            librsvg2-dev \
            patchelf \
            pkg-config \
            libglib2.0-dev
        
      - name: Instalar Node
        uses: actions/setup-node@v4
        with:
            node-version: 18

      - name: Instalar dependências
        run: npm install

      - name: Build frontend
        run: npm run build

      - name: Build Tauri
        run: npm run tauri build

      - name: Upload Linux artifact
        uses: actions/upload-artifact@v4
        with:
          name: linux-build
          path: src-tauri/target/release/bundle/appimage/*.AppImage

  build-windows:
    runs-on: windows-latest
    needs: update-version
    steps:
      - uses: actions/checkout@v4

      - name: Instalar Node
        uses: actions/setup-node@v4
        with:
            node-version: 18

      - name: Instalar dependências
        run: npm install

      - name: Build frontend
        run: npm run build

      - name: Atualizar tauri.conf.json no Windows
        run: |
          powershell -Command "(Get-Content src-tauri/tauri.conf.json) | ConvertFrom-Json | ForEach-Object { $_.package.version = '${{ needs.update-version.outputs.version }}'; $_.tauri.bundle.version = '${{ needs.update-version.outputs.version }}'; $_ } | ConvertTo-Json -Compress | Set-Content src-tauri/tauri.conf.json"

      - name: Build Tauri
        run: npm run tauri build

      - name: Upload app do Windows
        uses: actions/upload-artifact@v4
        with:
          name: windows-build
          path: src-tauri/target/release/bundle/**/*.exe

  release:
    if: startsWith(github.ref, 'refs/tags/')
    needs: [build-windows, build-linux]
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4

      - name: Criar Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            windows-build/**/*.exe
            linux-build/**/*.AppImage
