name: Build do projeto

on:
    push:
        branches: [main]

jobs:
    build-linux:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v4

          - name: Instalar Node
            uses: actions/setup-node@v4
            with:
                node-version: 18

          - name: Instalar dependências
            run: npm install

          - name: Build frontend
            run: npm run build

          - name: Build Tauri
            run: npm run tauri build

    build-windows:
        runs-on: windows-latest
        steps:
          - uses: actions/checkout@v4

          - name: Instalar Node
            uses: actions/setup-node@v4
            with:
                node-version: 18

          - name: Instalar dependências
            run: npm install

          - name: Build frontend
            run: npm run build

          - name: Build Tauri
            run: npm run tauri build
    build-mac:
        runs-on: macos-latest
        steps:
          - uses: actions/checkout@v4

          - name: Instalar Node
            uses: actions/setup-node@v4
            with:
                node-version: 18

          - name: Instalar dependências
            run: npm install

          - name: Build frontend
            run: npm run build

          - name: Build Tauri
            run: npm run tauri build
